<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}">

  {% include head_post.html %}

  <body id="page-top">

<div class="container posts-container" id="pagecontainer">
	{% include mynav_posts.html %}
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

<div class="home-link" id="home-link">
  <a href="/#" title="Home">
    <i class="fas fa-arrow-left"></i> Home
  </a>
</div>

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">
      <i class="fas fa-folder-open"></i>
      {{ page.title | escape }}
    </h1>
    <p class="post-subtitle text-muted">{{ page.subtitle | escape }}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>
</div>

	  {% include myfooter.html %}

	  <!-- Bootstrap core JavaScript -->
	  <script src="../../assets/js/jquery.min.js"></script>
	  <script src="../../assets/js/bootstrap.bundle.min.js"></script>

	  <!-- Plugin JavaScript -->
	  <script src="../../assets/js/jquery.easing.min.js"></script>

	  <!-- Contact form JavaScript -->
	  <script src="../../assets/js/jqBootstrapValidation.js"></script>
	  <script src="../../assets/js/contact_me.js"></script>

	  <!-- Custom scripts for this template -->
	  <script src="../../assets/js/agency.min.js"></script>

  </body>
</html>

